{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row page-title-div">
		<div class="col-sm-6">
			<h2 class="title">Consulta de Solicitudes</h2>
		</div>
		<!-- /.col-sm-6 -->
	</div>
	<!-- /.row -->
	<div class="row breadcrumb-div">
		<div class="col-sm-6">
			<ul class="breadcrumb">
				<li><a href="{% url 'Inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>
				<li><a href="#"><i class="fa fa-list"></i> Listados</a></li>
				<li><a href="#"><i class="fa fa-arrow-circle-right"></i> Solicitudes</a></li>
				<li class="active"> {{solicitante.user.username}}</li>
			</ul>
		</div>
		<!-- /.col-sm-6 -->
	</div>
	<!-- /.row -->

	<section class="section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<div class="panel login-box">
						<div class="panel-heading">
							<div class="panel-title text-center">
								<h4>Consulta de Solicitante</h4>
							</div>
						</div>
						<div class="panel-body p-20">

							<table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td><strong>SOLICITANTE</strong></td>
										<td>{{solicitudes.solicitante.user.username}}</td>
									</tr>
									<tr>
										<td><strong>N° DE OFICIO</strong></td>
										<td>{{solicitudes.numero_de_oficio}}</td>
									</tr>
									<tr>
										<td><strong>REMITENTE</strong></td>
										<td>{{solicitudes.remitente}}</td>
									</tr>
									<tr>
										<td><strong>FECHA</strong></td>
										<td>{{solicitudes.fecha}}</td>
									</tr>
									<tr>
										<td><strong>CASO PLANTEADO</strong></td>
										<td>{{solicitudes.caso_planteado}}</td>
									</tr>
									<tr>
										<td><strong>TIPO DE SOLICITUD</strong></td>
										<td>{{solicitudes.tipo_solicitud}}</td>
									</tr>
									<tr>
										<td><strong>CÉDULA DEL MENOR</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_ci_menor.url}}" style="width: 300px; height: 300px;">
										</td>
									</tr>
										<tr>
										<td><strong>CONSTANCIA DE RESIDENCIA</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_constancia_r.url }}" style="width: 300px; height: 300px;">
										</td>
									</tr>
										<tr>
										<td><strong>CÉDULA DE INDENTIDAD</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_ci.url}}" style="width: 300px; height: 300px;">
										</td>
									</tr>
										<tr>
										<td><strong>CARNET DE LA PATRIA</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_carnetp.url}}" style="width: 300px; height: 300px;">
										</td>
									</tr>
										<tr>
										<td><strong>CENSO DE LA GRAN MISIÓN VIVIENDA</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_gmv.url}}" style="width: 300px; height: 300px;">
										</td>
									</tr>
										<tr>
										<td><strong>INFORME DE RIESGO</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_casoriesgo.url}}" style="width: 300px; height: 300px;">
										</td>
									</tr>
										<tr>
										<td><strong>INFORME DE SALUD</strong></td>
										<td>
											<img src="{{solicitudes.adjunto_informe.url}}" style="width: 300px; height: 300px;">
										</td>
									</tr>
								</tbody>
							</table>
							<br>
							<center>
								<a href="{% url 'Consulta:ConsultarSolicitudes' %}" class="btn btn-danger">Volver</a>
							</center>




						</div>
					</div>
					<!-- /.panel -->

				</div>
				<!-- /.col-md-6 col-md-offset-3 -->
			</div>
			<!-- /.row -->
		</div>
	</section>
</div>
{% endblock %}

{% block js %}

<script>
	$(function($) {
		$('#example').DataTable();

		$('#example2').DataTable( {
			"scrollY":        "300px",
			"scrollCollapse": true,
			"paging":         false
		} );

		$('#example3').DataTable();
	});
</script>
{% endblock %}