{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row page-title-div">
		<div class="col-sm-6">
			<h2 class="title">Editar Información del Perfil</h2>
		</div>
		<!-- /.col-sm-6 -->
	</div>
	<!-- /.row -->
	<div class="row breadcrumb-div">
		<div class="col-sm-6">
			<ul class="breadcrumb">
				<li><a href="{% url 'Inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>
				<li><a href="#"><i class="fa fa-user"></i> {{user.puser.p_nombre}} {{user.puser.p_apellido}}</a></li>
				<li class="active"><i class="fa fa-arrow-circle-right"></i> Editar Perfil</li>
			</ul>
		</div>
		<!-- /.col-sm-6 -->
	</div>
	<!-- /.row -->

	<section class="section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel login-box">
						<div class="panel-heading">
							<div class="panel-title text-center">
								<h4>Editar Información del Perfil</h4>
							</div>
						</div>
						<div class="panel-body p-20">
							<form class="p-20" method="POST" data-parsley-validate>{% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Correo Electrónico <span class="color-danger">*</span></label>
											<input type="text" class="form-control" name="email" placeholder="Correo Electrónico" required data-parsley-type="email" data-parsley-trigger="keyup" data-parsley-error-message="Debe Ingresar un correo electronico correcto" value="{{user.email}}"> <span class="help-block">{{ usuarios.email.errors }}</span>
										</div>
									</div>
									<!-- /.col-md-12 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Primer Nombre <span class="color-danger">*</span></label>
											<input type="text" class="form-control" name="p_nombre" placeholder="Primer Nombre" required data-parsley-error-message="Este campo debe ser mayor a 2 letras" maxlength="30" value="{{user.puser.p_nombre}}">
										</div>
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="form-group">
											<label>Segundo Nombre</label>
											<input type="text" class="form-control" name="s_nombre" placeholder="Segundo Nombre" maxlength="30" value="{% if user.puser.s_nombre %}{{user.puser.s_nombre}}{% endif %}">
										</div>
									</div>
									<!-- /.col-md-6 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Primer Apellido <span class="color-danger">*</span></label>
											<input type="text" class="form-control" name="p_apellido" placeholder="Primer Apellido" required data-parsley-error-message="Este campo debe ser mayor a 2 letras" maxlength="30" value="{{user.puser.p_apellido}}">
										</div>
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="form-group">
											<label>Segundo Apellido</label>
											<input type="text" class="form-control" name="s_apellido" placeholder="Segundo Apellido" maxlength="30" value="{% if user.puser.s_apellido %}{{user.puser.s_apellido}}{% endif %}">
										</div>
									</div>
									<!-- /.col-md-6 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Género <span class="color-danger">*</span></label>
											<select class="form-control" name="genero" data-placeholder="Género" required data-parsley-error-message="Debe seleccionar una opcion" data-parsley-trigger="keyup"{{form1.genero}}</span>
											</select>
										</div>
									</div>
									<!-- /.col-md-6 -->
									<div class="col-md-6">
										<div class="form-group">
											<label>Teléfono <span class="color-danger">*</span></label>
											<input type="text" class="form-control" name="telefono" placeholder="Teléfono" maxlength="11" value="{% if user.puser.telefono %}{{user.puser.telefono}}{% endif %}">
										</div>
									</div>
									<!-- /.col-md-6 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Dirección <span class="color-danger">*</span></label>
											<textarea class="form-control" name="direccion" required placeholder="Dirección">{{user.puser.direccion}}</textarea>
										</div>
									</div>
									<!-- /.col-md-12 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-md-12">
										<div class="btn-group pull-right mt-10" role="group">
											<center>
												<input type="submit" class="btn bg-black btn-wide" value="Editar">
												<a href="{% url 'Inicio' %}">
													<button type="button" class="btn btn-gray btn-wide">Cancelar</button>
												</a>
											</center>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.col-md-12 -->
								</div>
							</form>
						</div>
					</div>
					<!-- /.panel -->
					
				</div>
				<!-- /.col-md-6 col-md-offset-3 -->
			</div>
			<!-- /.row -->
		</div>
	</section>
</div>
{% endblock %}