{% extends "base/base.html" %}

{% block topnav %}
{% endblock %}
{% block leftnav %}
{% endblock %}
{% block body %}
<body class="">
	{% endblock %}
	{% block content %}
	<div class="login-bg-color bg-black-300">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel login-box">
					<div class="panel-heading">
						<div class="panel-title text-center">
							<h3>SolicitudesDV</h3>
							<h6>Recuperar Contraseña</h6>
						</div>
					</div>
					<div class="panel-body p-20">
						<form method="POST">{% csrf_token %}
							<div class="form-group has-feedback">
								<label>Correo Electrónico</label>
								<span class="fa fa-envelope form-control-feedback"></span>
								<input type="text" class="form-control" placeholder="Correo Electrónico" autocomplete="off" name="email" required>
							</div>
							<center>
								<div class="form-group">
									<label>
										<small class="muted-text">Se enviará un mensaje para recuperar la contraseña</small>
									</label>
								</div>
								<div class="">
									<button type="submit" class="btn bg-black btn-wide">Enviar</button>
									<a href="{% url 'Inicio' %}">
										<button type="button" class="btn btn-gray btn-wide">Cancelar</button>
									</a>
									
								</div>
							</center>
						</form>
						<hr>
						<div class="text-center">
							<a href="{% url 'Usuario:RegPUser' %}" class="form-link"><small class="muted-text">¿Desea registrar una cuenta?</small></a>
						</div>
						<!-- /.text-center -->
					</div>
				</div>
				<!-- /.panel -->
				<p class="text-muted text-center"><small>SolicitudesDV © 2019</p>
				</div>
				<!-- /.col-md-6 col-md-offset-3 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /. -->
		{% endblock %}