{% extends "base/base.html" %}
{% block topnav %}
{% endblock %}
{% block leftnav %}
{% endblock %}
{% block body %}

<body class="">
	{% endblock %}
	{% block content %}
	<div class="login-bg-color bg-black-300" " >
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel login-box">
					<div class="panel-heading">
						<div class="panel-title text-center">
							<h2>SolicitudesDV</h2>
							<div class="tx-center mg-b-10">Contraseña restablecida</div>
						</div>
					</div>
					<div class="panel-body p-20">
						<div class="form-group ">
							<center>
							<a class="tx-center mg-b-30" style="text-align: center;">Su contraseña ha sido establecida correctamente. Ahora puede inciciar sesión</a>
							</center>
						</div>
							<center>
								<div class="">
									<a href="{% url 'Usuario:Login' %}" class="btn bg-black btn-wide">Iniciar Sesión</i></a>	
								</div>
							</center>
					</div>
			<!-- /.row -->
		</div>
		<!-- /. -->
{% endblock %}